*{
    margin: 0;
    padding: 0;
    background-size: cover;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    background: url(imagens/estrela.jpg);
}

.topo{
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: 
    'logot logot logot'
    'menup menup menup'
    'principal principal principal'
    'rodape rodape rodape';
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
   

}

#logoTopo img{
    width: 20rem;
    height: 9rem;
    grid-area: logot;
    background-size: cover;
}

h1{
    color: rgb(221, 224, 27);
    padding: 1px;
    margin: 5px;
}

p{
color: rgb(251, 255, 1);
text-align: center;
font-family: 'Courier New', Courier, monospace;

}

#txt{
    grid-area: principal;
    margin: 2px;
}

.menuP{
    border-style: solid;
    color: yellow;
    grid-area: menup;
    padding: 10px;
    margin: 5px;
}

#rodape{
    color: rgb(255, 255, 255);
    border-style: solid;
    grid-area: rodape;
    border-color: yellow;
    padding: 10px;
    margin: 5px;
 
}

.menu{
    justify-content: space-between;
    padding: auto;
    list-style: none;
    display:flex ;
}

.item{
    padding: 10px;
}
.item a{
    color: yellow;
    text-decoration: none;
}
.item a:hover{
    color: rgb(255, 255, 255);
}